* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(pexels-vecislavas-popa-1669799.jpg);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;

  font-family: "IBM Plex Sans", sans-serif;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  display: flex;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;

  display: inline-block;
  margin: 0px 20px;
  position: relative;
}
.navbar ul li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1px 15px;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.navbar ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}
#logo {
  color: yellow;
  font-size: 3.8rem;
  position: relative;
  right: 64px;
  cursor: pointer;
  font-family: "Square Peg", cursive;
}
h1 {
  font-size: 4rem;
  margin: 22px 12px;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffff;
  font-size: 1.2rem;
}
button {
  height: 70px;
  width: 200px;
  padding: 15px 0;
  margin: 50px 10px;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: #ffff;
  cursor: pointer;
  border: 2px solid #009688;
  outline: none;
}
button:hover {
  transition: 1s;
  color: black;
  background-color: cyan;
  box-shadow: 0 0 10px cyan, 0 0 40px cyan, 0 0 80px cyan;
}
